body {
    background-color: rgb(16, 38, 82);
}
/*
.navbar-blur {
    background-color: rgba(16, 38, 82, 0.15);
    backdrop-filter: blur(10px);
    
}
*/
@media (max-width: 992px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}