body {
    background-color: rgb(0, 18, 53);
}
/*
.navbar-blur {
    background-color: rgba(16, 38, 82, 0.15);
    backdrop-filter: blur(10px);
    
}
*/
.border-blue {
    border-bottom-color: rgb(30, 144, 255) !important;
}
.text-blue {
    color: #1e90ff;
}
@media (max-width: 992px) {
    .sidebar {
        background-color: rgba(0, 18, 53, 0.15);
        backdrop-filter: blur(8px);
    }
}