<section class="section-blue-gray py-5 text-white d-flex flex-column align-items-center">
    <div class="container d-flex flex-column pt-4 gap-3">
        <h2 class="title-second fw-bold">About <span class="text-blue">Me</span></h2>
        <p class="fw-semibold p-text-color">Colombian Computer Engineer, focused on the world of web development, especially in the backend. My training has been a path of constant exploration and learning, this has led me to delve into various technologies and approaches in the constant search to offer efficient and reliable solutions. My enthusiasm for creating and solving technical challenges drives me to continue growing in the field of web development.</p>
        <p class="fw-bold fs-4"><span class="text-blue">My</span> Skills</p>
    </div>
    <div class="container py-2 pb-4 d-flex justify-content-center justify-content-lg-start flex-wrap gap-3">
        {% include 'skills.html' with skill_name="Python" skill_src="python" src_alt="Python SVG" %}
        {% include 'skills.html' with skill_name="Django" skill_src="django" src_alt="Django SVG" %}
        {% include 'skills.html' with skill_name="Postgresql" skill_src="postgresql" src_alt="Postgresql SVG" %}
        {% include 'skills.html' with skill_name="Postman" skill_src="postman" src_alt="Postman SVG" %}
        {% include 'skills.html' with skill_name="JavaScript" skill_src="javascript" src_alt="JavaScript SVG" %}
        {% include 'skills.html' with skill_name="HTML" skill_src="html5" src_alt="HTML SVG" %}
        {% include 'skills.html' with skill_name="CSS" skill_src="css3" src_alt="CSS SVG" %}
        {% include 'skills.html' with skill_name="Bootstrap" skill_src="bootstrap" src_alt="Bootstrap SVG" %}
    </div>
</section>