<section id="contact" class="section-blue-gray py-6 text-white">
    <div class="container p-4">
        <div class="row g-5">
            <div class="col-12 col-lg-6 d-flex flex-column align-self-center text-lg-start text-center mt-lg-0 gap-3">
                <h2 class="title-second fw-bold">Contact <span class="text-blue">Me</span></h2>
                <p class="fw-semibold p-text-color">I'm just a few clicks away. How can I contribute to your goals?
                    <br>You can contact me through my socials <i class="bi bi-arrow-down icon-bounce"></i>
                </p>
                <div class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-2 gap-lg-3">
                    <a href="mailto:{{ user.email }}" class="btn btn-social fw-semibold" target="_blank"><i class="bi bi-envelope"></i> Email</a>
                    <a href="{{ user.linkedin }}" class="btn btn-social fw-semibold" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
                    <a href="{{ user.github }}" class="btn btn-social fw-semibold" target="_blank"><i class="bi bi-github"></i> GitHub</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                <form action="" method="POST">
                    <em class="fw-semibold p-text-color">Or you can leave me a <span class="text-blue">message</span>:</em>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="my-3">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="my-3 text-end">
                        <button type="submit" class="btn btn-social fw-semibold px-3">
                            <span>Send Message</span>
                        </button>
                    </div>
                </form>
                {% if success %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            title: 'Great! Message sent',
                            icon: 'success',
                            iconColor: '#5DBEFF',
                            showConfirmButton: false,
                            timer: 2200
                        })
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>