{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-blur navbar-expand-lg navbar-dark bg-transparent fixed-top border-bottom border-blue">
        <div class="container pt-2">
            <!-- Name/Logo -->
            <a class="navbar-brand fw-bold fs-4 ps-3" href="#">nicds.<span class="text-blue">dev</span></a>
            <!-- Toggle Button -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- SideBar -->
            <div class="sidebar offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="container offcanvas-header text-white">
                    <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">nicds.<span class="text-blue">dev</span></h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="container offcanvas-body d-flex align-items-center">
                    <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 fw-semibold fs-5">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>

        <section class="container vh-100 pt-6 text-white d-flex align-items-center">
            <div class="row p-4 align-items-center gap-5">
                <div class="col-lg-7 order-2 order-lg-1 text-lg-start text-center ps-lg-4 ps-xxl-5">
                    <h1>Hi, I'm <span class="text-blue">Nicolás</span></h1>
                    <h3>Backend Developer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="flex-row">
                        <a href="#" class="btn btn-info">Download CV</a>
                        <a href="#" class="btn btn-info">LinkedIn</a>
                        <a href="#" class="btn btn-info">GitHub</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 order-1 mx-auto">
                    <img src="../media/portfolio/images/perfil.png" alt="" class="img-fluid rounded-circle">
                </div>
            </div>

        </section>
        <section class="container vh-100 pt-6 text-white d-flex flex-column justify-content-center align-items-center gap-1">
            <h1>Hi, I'm <span class="text-blue">Nicolás</span></h1>
            <h3>Backend Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="flex-row">
                <a href="#" class="btn btn-info">Download CV</a>
                <a href="#" class="btn btn-info">LinkedIn</a>
                <a href="#" class="btn btn-info">GitHub</a>
            </div>
        </section>
    </main>

    
    <!-- {% for project in projects %}
        <div>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}">
            {% if project.url_demo and project.url_source %}
                <a href="{{ project.url_demo }}" target="_blank">demo</a>
                <a href="{{ project.url_source }}" target="_blank">source</a>
            {% endif %}
        </div>
    {% endfor %} -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>