{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'nicds | Portfolio' %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <script defer src="{% static 'scripts/navbar-active.js' %}"></script>
    <script defer src="{% static 'scripts/card-animation.js' %}"></script>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar-main" class="navbar navbar-blur navbar-expand-lg navbar-dark bg-transparent fixed-top border-bottom border-blue">
        <div class="container pt-2" style="scrollbar-gutter: stable;">
            <!-- Name/Logo -->
            <a class="navbar-brand fw-bold fs-4 ps-3" href="#">nicds.<span class="text-blue">dev</span></a>
            <!-- Toggle Button -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- SideBar -->
            <div class="sidebar offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="container offcanvas-header text-white">
                    <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">nicds.<span class="text-blue">dev</span></h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="container offcanvas-body d-flex align-items-center">
                    <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 fw-semibold fs-5">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#home">{% trans 'Home' %}</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#about">{% trans 'About' %}</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#projects">{% trans 'Projects' %}</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#contact">{% trans 'Contact' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% include 'section_home.html' %}
        {% include 'about.html' %}
        {% include 'projects.html' %}
        {% include 'contact.html' %}
    </main>
    <footer>
        <div class="container text-center">
            <p class="fs-5 fw-semibold p-text-color my-4">{% trans 'Created by ' %}
                <a href="{{ user.linkedin }}" target="_blank" class="text-blue link-offset-2">nicds</a> 
                :)
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('.typed', {
            strings: ["Developer"],
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
        })
    </script>
</body>
</html>