<section id="projects" class="section-dark py-6 text-white">
    <div class="container d-flex flex-column pt-4 gap-3">
        <h2 class="title-second fw-bold text-center">Projects<span class="text-blue"></span></h2>
        <div class="container-fluid d-flex flex-wrap gap-5">
            {% for project in projects %}
                <div class="col d-flex flex-column gap-2 border rounded p-3">
                    <h3 class="fs-4 fw-semibold">{{ project.title }}</h3>
                    <img class="img-fluid rounded" src="{{ project.image.url }}" alt="{{ project.title }}">
                    <p>{{ project.description }}</p>
                    {% if project.url_demo and project.url_source %}
                        <div class="d-flex justify-content-between px-3">
                            <a href="http://127.0.0.1:8000/" class="btn btn-social fw-semibold" target="_blank">
                                <i class="bi bi-box-arrow-up-right"></i> Demo
                            </a>
                            <a href="http://127.0.0.1:8000/" class="btn btn-social fw-semibold" target="_blank">
                                <i class="bi bi-github"></i> Source
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

</section>