<section id="projects" class="section-dark py-6 text-white">
    <div class="container d-flex flex-column pt-4 gap-5">
        <h2 class="title-second fw-bold text-center">Projects<span class="text-blue"></span></h2>
        <div class="container-fluid d-flex flex-wrap gap-5">
            {% for project in projects %}
                <div class="col d-flex flex-column gap-2 box-project rounded p-3">
                    <h3 class="fs-5 fw-bold">{{ project.title }}</h3>
                    <img class="img-fluid rounded" src="{{ project.image.url }}" alt="{{ project.title }}">
                    <div class="d-flex flex-wrap justify-content-center gap-1">
                        {% for tag in project.tags.all %}
                            <div class="box-skill-tag rounded-3 d-flex flex-column justify-content-center align-items-center">
                                <span class="p-text-color">{{ tag }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fw-semibold p-text-color mt-auto">{{ project.description }}</p>
                    {% if project.url_demo and project.url_source %}
                        <div class="d-flex  gap-3 ms-auto">
                            <a href="http://127.0.0.1:8000/" class="btn btn-social fw-semibold" target="_blank">
                                <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            <a href="http://127.0.0.1:8000/" class="btn btn-social fw-semibold" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>